@media screen and (min-width: 700px) {
  .navigation li:first-child {
    display: block;
  }

  .responsive li {
    display: block;
  }

  a:hover {
    background-color: #88a3ae;

  }

  .navigation li:first-child {
    display: none;
  }
}