    .navigation li:first-child {
        display: block;
      }
    
      .responsive li {
        display: block;
      }
    
      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
        background-color: #758ecd;
      }
    
      a:hover {
        background-color: #747474;
    
      }
    
      .navigation li:first-child {
        display: none;
      }