/* Medium devices (landscape tablets, 600px and up) */
@media only screen and (min-width: 600px) {
section {
    display: grid;
    flex-direction: row;
    justify-content: center;
    grid-template-columns: 1fr;
    }

    article {
        block-size: 2em;
        border: 10px solid black;
        padding: 5px;
        background-color: white;
        height: auto;
        text-align: center;
        contain: content;
        max-width: auto;
        
    }

    li {
        float: left;
        margin: 10px;
        list-style: none;
        padding-left: 0;
    }


    li a {
        text-decoration: none;
        color: white;
    }
    main{
        background-color: black;
    }

    ul {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-around;
        background-color: rgb(214, 6, 51);
        border-radius: 50px;

    }

    /* Class selectors
    .highlight{
        font-weight: bold;
    }
    */
    /*Id selectors*/

    h1 {
        text-align: center;
        font-size: 30px;
        border-spacing: 15px;
        text-decoration: underline;

    }

    body {
        background-image: linear-gradient(black, rgb(214, 6, 51));
    }

    p {
        text-align: center;
    }

    .headline {
        background-color: black;
        color: White;
        text-align: center;
        padding: 25px;
    }
    #footer{
        justify-content: center;
    }

    #logo {
        object-fit: cover;
        width: 30em;
        height: 30em;

    }
}






/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    section {
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: 1fr;
    }

    article {
        border: 10px solid black;
        padding: 5px;
        background-color: white;
        height: auto;
        text-align: center;
        contain: content;
        max-width: auto;
    }
    main{
        background-color: black;
    }

    li {
        float: left;
        margin: 10px;
        list-style: none;
        padding-left: 0;
    }


    li a {
        text-decoration: none;
        color: white;
    }

    ul {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-around;
        background-color: rgb(214, 6, 51);
        border-radius: 50px;

    }

    /* Class selectors
    .highlight{
        font-weight: bold;
    }
    */
    /*Id selectors*/
    .active {
        background-color: rgb(117, 30, 30);
        padding: 1em;
    }

    h1 {
        text-align: center;
        font-size: 30px;
        border-spacing: 15px;
        text-decoration: underline;

    }

    body {
        background-image: linear-gradient(black, rgb(214, 6, 51));
    }

    p {
        text-align: center;
        font-family: 'Rubik', sans-serif;
        max-width: 630px;
    }

    .headline {
        background-color: black;
        color: White;
        text-align: center;
        padding: 25px;
    }
    main{
        background-color: black;
    }
    #logo {
        object-fit: cover;
        width: 20em;
        height: 20em;
        

    }
    #colorp{
        object-fit: contain;
        width: 20em;
        height: 20em;

    }
}





